<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>Angular Scopes 1</title>
        <script src="angular.min.js"></script>
	</head>
    <body>
		<div data-ng-app data-ng-init="events = [{ name: 'Lunch', place: 'Rapperswil', date: '2015-10-10T10:00:00.000Z' }, { name: 'Dinner', place: 'Zürich', date: '2015-04-05T16:00:00.000Z' }, { name: 'Dinner', place: 'Rapperswil', date: '2015-12-08T17:00:00.000Z' }]">
	        <h1>Events in Rapperswil</h1>
			<ul>
				<li data-ng-repeat="event in events">{{event.name}}, {{event.place}}, {{event.date | date:"dd.MM.yy"}}</li>
			</ul>
			<form>
				<input type="text" placeholder="name, e.g. Dinner" />
				<input type="text" placeholder="place, e.g. Züich" />
				<input type="date" placeholder="date, e.g. 2015-04-05" />
				<input type="reset" value="Clear fields" />
				<input type="submit" value="Add event" />
			</form>
			<div>
				<strong>Preview:</strong> <span> , , </span>
			</div>
		</div>
	<body>
</html>
